# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=tableorder_db
DB_USERNAME=tableorder_user
DB_PASSWORD=changeme

# Midtrans (Payment Gateway)
MIDTRANS_BASE_URL=https://app.sandbox.midtrans.com
MIDTRANS_API_BASE_URL=https://api.sandbox.midtrans.com
MIDTRANS_SERVER_KEY=your_server_key_here
MIDTRANS_CLIENT_KEY=your_client_key_here
